*.log
_x_temp.hw.xilinx_u50_gen3x16_xdma_5_202210_1/
.Xil/
build_dir.hw.xilinx_u50_gen3x16_xdma_5_202210_1/
.ipcache/
_x_temp.sw_emu.xilinx_u50_gen3x16_xdma_5_202210_1/
build_dir.sw_emu.xilinx_u50_gen3x16_xdma_5_202210_1/
build_dir.hw_emu.xilinx_u50_gen3x16_xdma_5_202210_1/
_x_temp.hw_emu.xilinx_u50_gen3x16_xdma_5_202210_1/
//reports/